{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="side-nav">
        <a href="http://localhost:8000/home/" class="icon-link">
            <i class="bi bi-house-door-fill icon"></i>
            <span>Home</span>
        </a>
        <a href="#" class="icon-link">
            <i class="bi bi-search icon"></i>
            <span>Search</span>
        </a>
        <a href="#" class="icon-link">
            <i class="bi bi-bell icon"></i>
            <span>Notifications</span>
        </a>
        <a href="{% url 'profile' user.profile.user_id %}" class="icon-link">
            <i class="bi bi-person-circle icon"></i>
            <span>Profile</span>
        </a>
        <a href="{% url 'create' %}" class="icon-link">
            <i class="bi bi-plus-circle"></i>
            <span>Add Post</span>
        </a>
        <a href="{% url 'logout' %}" class="icon-link">
            <i class="bi bi-box-arrow-left"></i>
            <span>Logout</span>
        </a>
    </div>
    
    <!-- Profile Section -->
    <div class="profile-section">
        <div class="profile-header">
            <img src="https://thumbs.dreamstime.com/b/default-avatar-profile-icon-vector-social-media-user-image-182145777.jpg"
                 alt="Profile Picture">
            <div class="profile-info">
                <h1>@{{ profile.user }}</h1>
                <p>Web Developer | Content Creator</p>
                <button class="edit-btn">Edit Profile</button>
            </div>
        </div>

        <!-- Stats Section -->
        <div class="profile-stats">
            <div class="stat">
                <span>{{ num_posts }}</span>
                <p>Posts</p>
            </div>
            <div class="stat">
                <a href="http://localhost:8000/profile/{{ profile.user_id }}/followed/" class="link">
                    {{ followed_by }}
                </a>
                <p>
                    <a href="http://localhost:8000/profile/{{ profile.user_id }}/followed/" class="link">
                        followers
                    </a>
                </p>
            </div>
            <div class="stat">
                <a href="http://localhost:8000/profile/{{ profile.user_id }}/follows/" class="link">
                    {{ follows }}
                </a>
                <a href="http://localhost:8000/profile/{{ profile.user_id }}/follows/">
                    <p>Following</p>
                </a>
            </div>
        </div>

        <!-- Navbar Section -->
        <div class="navbar-custom">
            <a href="{% url 'profile' user.profile.user_id %}">Posts<i class="bi bi-chat"></i></a>
            <a href="{% url 'audios' user.profile.user_id %}">Audios<i class="bi bi-music-note-beamed"></i></a>
            <a href="{% url 'likes' user.profile.user_id %}" class="active">Likes<i class="bi bi-heart"></i></a>
        </div>
            <!-- Posts Section -->
            <div class="posts-section">
            {% for liked_post in liked_posts %}
                <div class="post">
                
                    {% if liked_post.get_media_type == "image" %}
                        <img src="{{ liked_post.media_file.url }}" 
                             alt="Uploaded Image" 
                             class="object-contain w-100 h-100">
                    {% elif media_post.get_media_type == "video" %}
                        <video controls style="width: 500px; height: 500px; object-fit: cover;">
                            <source src="{{ liked_post.media_file.url }}" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    {% endif %}
                    
                    <div class="post-overlay">
                        <a href="#">View Post</a>
                    </div>
                
                </div>
            {% endfor %}
            </div>
    </div>
{% endblock content %}